<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <form {{action 'focusEntity' on="submit"}} class="navbar-form navbar-left" role="search">
        <div class="form-group">
          {{input value=searchString placeholder="Search Entity" class="form-control" }}
        </div>
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
        <button class="btn btn-default" {{action "openAllComponents"}}> Open All Components
        </button>
        <label>Highlight Elements: </label>
        <div class="checkbox">
          <!-- <label><input type="checkbox"> Original Elements</label>  onToggle=(action(mut toggleOriginal))-->
          {{x-toggle theme='flip' size='large' onLabel='Original' offLabel='Original' value=toggleOriginal onToggle=(action (mut toggleOriginal))}}
        </div>
        <div class="checkbox">
        {{x-toggle theme='flip' size='large' onLabel='Added' offLabel='Added' value=toggleAdded onToggle=(action (mut toggleAdded))}}
        </div>
        <div class="checkbox">
          {{x-toggle theme='flip' size='large' onLabel='Edited' offLabel='Edited' value=toggleEdited onToggle=(action (mut toggleEdited))}}
        </div>
        <div class="checkbox">
          {{x-toggle theme='flip' size='large' onLabel='Deleted' offLabel='Deleted' value=toggleDeleted onToggle=(action (mut toggleDeleted))}}
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
