<div class="sidebar-component-title">
  <h5>History</h5>
</div>

<div class="sidebar-component-close">
  <label {{action "close"}} title="Close History" aria-label="Close">
    <font size="6">&times;</font>
  </label>
</div>

<div style="max-height:500px; overflow:auto; width:100%;">
  {{#if componentHistory}}
  <div class="sidebar-component-title">
    <h6>Components</h6>
  </div>
  <table class="table table-hover">
    <thead>
      <tr style="cursor: pointer">
        <th scope="col">Name</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Change</th>
      </tr>
    </thead>
    <tbody>
      {{#each componentHistory as |history|}}
      {{#each-in history.historyEntry as |timestamp status|}}
      <tr style="cursor: pointer">
        <td title={{history.name}}>{{history.name}}</td>
        <td title={{timestamp}}>{{timestamp}}</td>
        <td title={{status}}>{{status}}</td>
      </tr>
      {{/each-in}}
      {{/each}}
    </tbody>
  </table>
  {{/if}}


  {{#if clazzHistory}}
  <div class="sidebar-component-title">
    <h6>Classes</h6>
  </div>
  <table class="table table-hover">
    <thead>
      <tr style="cursor: pointer">
        <th scope="col">Name</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Change</th>
      </tr>
    </thead>
    <tbody>
      {{#each clazzHistory as |history|}}
      {{#each-in history.historyEntry as |timestamp status|}}
      <tr style="cursor: pointer">
        <td title={{history.name}}>{{history.name}}</td>
        <td title={{timestamp}}>{{timestamp}}</td>
        <td title={{status}}>{{status}}</td>
      </tr>
      {{/each-in}}
      {{/each}}
    </tbody>
  </table>
  {{/if}}

  {{#if communicationHistory}}
  <div class="sidebar-component-title">
    <h6>Communications</h6>
  </div>
  <table class="table table-hover">
    <thead>
      <tr style="cursor: pointer">
        <th scope="col">Name</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Change</th>
      </tr>
    </thead>
    <tbody>
      {{#each communicationHistory as |history|}}
      {{#each-in history.historyEntry as |timestamp status|}}
      <tr style="cursor: pointer">
        <td title={{history.name}}>{{history.name}}</td>
        <td title={{timestamp}}>{{timestamp}}</td>
        <td title={{status}}>{{status}}</td>
      </tr>
      {{/each-in}}
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</div>
